<div class="comment-container">
  <div *ngFor="let comment of comments">
    <div class="comment" fxLayout="row" fxLayoutAlign="start" *ngIf="showComment(comment)">
      <ng-container [ngTemplateOutlet]="commentContainer" [ngTemplateOutletContext]="{comment:comment}"></ng-container>
    </div>
    <div *ngIf="actionOnComment?.id === comment.id">
      <ng-container [ngTemplateOutlet]="messageBoxContainer"
      [ngTemplateOutletContext]="{isReply:true, isEdit: comment.user.username === currentUser.username, comment: comment}"></ng-container>
    </div>

    <div class="reply-comments-container" *ngFor="let reply of comment.replies">
      <div class="comment reply-comments" fxLayout="row" fxLayoutAlign="start" *ngIf="showComment(reply)">
        <ng-container [ngTemplateOutlet]="commentContainer"
        [ngTemplateOutletContext]="{comment:reply}"></ng-container>
      </div>
      <div class="reply-comments" *ngIf="actionOnComment?.id === reply.id">
        <ng-container [ngTemplateOutlet]="messageBoxContainer"
     [ngTemplateOutletContext]="{isReply:true, isEdit: reply.user.username === currentUser.username, comment: reply}"></ng-container>
      </div>
    </div>
  </div>
  <ng-container [ngTemplateOutlet]="messageBoxContainer"
    [ngTemplateOutletContext]="{isReply:false, isEdit: false, comment: {inputValue:''}}"></ng-container>
</div>

<ng-template #commentContainer let-comment="comment">
  <div class="score-container score" fxFlex="4" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="18%">
    <ng-container [ngTemplateOutlet]="scoreContainer"
        [ngTemplateOutletContext]="{comment:comment}"></ng-container>
  </div>
  <div class="message-container" fxFlex>
    <div fxLayout="row" class="message-header">
      <img [src]="comment.user.image.png" class="user-img" height="20">
      <div class="user-name"> {{comment.user.username}} 
        <span class="padge" *ngIf="comment.user.username === currentUser.username"> You </span>
      </div>
      <div class="time-at"> {{comment.createdAt}}</div>
      <div fxLayoutAlign="end" fxFlex class="reply-btn-desktop">
        <ng-container [ngTemplateOutlet]="actionButtonContainer" [ngTemplateOutletContext]="{comment:comment}"></ng-container>
      </div>
    </div>

    <div fxLayout="row" class="message-content">
      <p>
        <span *ngIf="comment.replyingTo" class="replyto">@{{comment.replyingTo}}</span>
        {{comment.content}}
      </p>
    </div>
    <div class="mobile-view-container" fxLayout="row">
      <div fxFlex="30" class="score" fxLayout="row">
        <ng-container [ngTemplateOutlet]="scoreContainer"
        [ngTemplateOutletContext]="{comment:comment}"></ng-container>
      </div>
      <div fxFlex fxLayoutAlign="end">
        <ng-container [ngTemplateOutlet]="actionButtonContainer" [ngTemplateOutletContext]="{comment:comment}"></ng-container>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #messageBoxContainer let-isReply='isReply' let-isEdit='isEdit'  let-comment='comment'>
  <div class="comment message-box">
    <div fxLayout="row" fxLayoutAlign="start">
      <div class="image-container desktop" fxFlex="10" fxLayoutAlign="center" fxLayoutGap="18%">
        <img [src]="currentUser.image.png" height="30" width="30">
      </div>
      <div class="input-container" fxFlex="90" fxLayoutAlign="center">
        <div fxFlex="85" class="input-box-container">
          <textarea class="input-box" type="text" placeholder="Add a comment..." [(ngModel)]="comment.inputValue" (focusout)="focusOutInput(comment)"></textarea>
        </div>
        <div fxFlex fxLayoutAlign="end" class="desktop">
          <button class="submit-btn" (click)="saveComment(comment)">{{getButtonLabel(isEdit, isReply)}}</button>
        </div>
      </div>
    </div>
    <div fxLayout="row" class="image-container bottom-row">
      <img [src]="currentUser.image.png" style="margin-left: 20px" height="30" width="30">
      <div fxFlex fxLayoutAlign="end">
        <button class="submit-btn" (click)="saveComment(comment)">{{getButtonLabel(isEdit, isReply)}}</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #actionButtonContainer let-comment="comment">
  <div *ngIf="comment.user.username === currentUser.username">
    <button class="btn delete-btn" (click)="actionOn('DELETE', comment)">
      <img src="assets/images/icon-delete.svg" height="10"> Delete
    </button>
    <button class="btn edit-btn" (click)="actionOn('UPDATE', comment)">
      <img src="assets/images/icon-edit.svg" height="10"> Edit
    </button>
  </div>

  <div *ngIf="comment.user.username !== currentUser.username">
    <button class="btn reply-btn" (click)="actionOn('REPLY', comment)">
      <img src="assets/images/icon-reply.svg" height="10"> Reply
    </button>
  </div>
</ng-template>

<ng-template #scoreContainer let-comment="comment">
  <div class="score-btn" (click)="increaseScore(comment)">
    <img src="assets/images/icon-plus.svg" height="10" width="10">
  </div>
  <div class="score-btn score-number">
    <span>{{comment.score}}</span>
  </div>
  <div class="score-btn" (click)="decreaseScore(comment)">
    <img src="assets/images/icon-minus.svg" width="10">
  </div>
</ng-template>
